@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    /* font-family: 'Space Grotesk', sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

div {
    padding: 8px;
}

input {
    border: 1.4px solid rgb(148, 148, 148);
    border-radius: 10px;
    text-align: left;
    padding: 8px 10px;
    height: 25px;
    width: 20%;
}

textarea:focus,
input:focus {
    outline: none;
}

label {
    display: block;
    color: red;
    line-height: 2.5rem;
    font-size: small;
    font-weight: bold;
}

button {
    padding: 12px;
    width: 15%;
}

input[type="text"]::placeholder {
    text-align: left;
    /* font-weight: bold; */
    color: rgb(163, 163, 163);
    word-spacing: 2.7;
}

*:focus {
    outline: none;
}